<!DOCTYPE html>
<html>

<head>
    <title>Demerit Points Calculator</title>
    <link href="./static/css/bootstrap.min.css" rel="stylesheet" >
    <script src="./static/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">

        <h1>Demerit Points Calculator</h1>

        {% if error_message %}
            <p class="lead text-danger">{{ error_message }}</p>
        {% endif %}

        <form method="post">

            <div class="row">
                <div class="col-sm-6">
                    <label class="form-label">Driving speed</label>
                    <input type="text" class="form-control" id="speed" name="speed">
                </div>
                <div class="col-sm-6">
                    <label class="form-label">Speed limit</label>
                    <input type="text" class="form-control" id="speed_limit" name="speed_limit">
                </div>
            </div>

            <div class="form-check">
                <label class="form-check-label">Holiday period</label>
                <input class="form-check-input" type="checkbox" id="holiday" name="holiday" value="y">
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <input type="submit" class="btn btn-outline-primary btn-lg w-100" value="Calculate points">
                </div>
                <div class="col-sm-6">
                    <input type="submit" class="btn btn-outline-danger btn-lg w-100" name="reset" value="Reset">
                </div>
            </div>
        </form>

        <div class="row">
        {% if points is not none %}
            {% if points == 0 %}
                <p class="lead text-success">You were driving within the speed limit.</p>
            {% else %}
                <p class="lead text-danger">You have received {{ points }} demerit points.</p>
            {% endif %}
        {% endif %}
        </div>

    
</div>
</body>
<script src="./static/bootstrap.min.js"></script>
</html>